<!DOCTYPE html>
<html>
    <head>
        <title>
            Dog vs Cat clasiifier
        </title>
    </head>
    <body style="padding-top: 12em; background-color:pink;">
        <center>
        <form class="form-group" action="/">
            <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: larger;">Probability of dog: {{pred.dog*100}}</p>
            <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: larger;">Probability of cat: {{pred.cat*100}}</p>
            <button name="home" style="align-items: center;">Home</button>
        </form>
        </center>
    </body>
</html>
